<!DOCTYPE html>
<html lang="en">
  <%- include('head') %>
  <body>
    <!--Header Section-->
    <%- include('header') %>

    <div class="succes">
      <div class="succes--message">
        <h2>Gelukt :)</h2>
        <p>U heeft succesvol gesolliciteerd</p>
        <p>
          U wordt door één van onze recruiters gebeld. Alvast bedankt voor het
          vertrouwen van ons
        </p>
      </div>
    </div>
    <!--Footer Section-->
    <%- include('footer') %>
    <!--Scripts-->
    <%- include('script') %>
  </body>
</html>
