<div class="changedetails--hero" id="change-detailsarea">
  <div class="changedetails--hero-container">
    <div class="changedetails--hero-heading">
      <h2>Persoonlijke Gegevens</h2>
    </div>
    <div class="changedetails--hero-input">
      <div class="changedetails--hero-inputs">
        <input
          type="text"
          name="Name"
          id="name"
          placeholder="Naam"
          class="changedetails--hero-inputfields"
        />
      </div>
      <div class="changedetails--hero-inputs">
        <input
          type="text"
          name="Lastname"
          id="lastname"
          placeholder="Achternaam"
          class="changedetails--hero-inputfields"
        />
      </div>
      <div class="changedetails--hero-inputs">
        <input
          type="text"
          name="Date-of-birth"
          id="dateofbirth"
          placeholder="Geboortedatum bijv: 07-01-2001"
          class="changedetails--hero-inputfields"
        />
      </div>
      <div class="changedetails--hero-inputs">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email"
          class="changedetails--hero-inputfields"
        />
      </div>
    </div>
    <div class="regsiter--hero-ctn">
      <input type="submit" value="Wijzigen" class="changedetails--hero-btn" />
    </div>
  </div>
</div>
<script src="/app.js"></script>
