<footer>
  <div class="footer--container">
    <div class="footer--items">
      <h2>Lees meer!</h3>
      <div class="footer--links">
        <a
          href="https://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/prive/inkomstenbelasting/heffingskortingen_boxen_tarieven/boxen_en_tarieven/box_2/box_2"
          >Inkomen Box2
        </a>
        <br />
        <a
          href="https://www.uwv.nl/particulieren/werkloos/tijdens-ww-uitkering/detail/inkomstenopgave-invullen"
          >Inkomen Doorgeven
        </a>
        <a
          href="https://www.belastingdienst.nl/wps/wcm/connect/nl/toeslagen/content/wat-is-mijn-toetsingsinkomen"
          >Inkomen Berekenen
        </a>
        <a
          href="https://www.rijksoverheid.nl/onderwerpen/arbeidsovereenkomst-en-cao/vraag-en-antwoord/wat-zijn-arbeidsvoorwaarden"
          >Arbeidsvoorwaarden
        </a>
        <a href="https://www.rijksoverheid.nl/onderwerpen/belasting-betalen"
          >Belasting Betalen
        </a>
      </div>
    </div>
    <div class="footer--items">
      <h2>Ga naar!</h2>
      <div class="footer--links">
        <a href="filterjob">Vacatures</a>
        <br />
        <a href="Register">Registreren </a>
      </div>
    </div>
    <div class="footer--items">
      <h2>Contact</h2>
      <div class="footer--contact">
        <p>
          <i class="fa-solid fa-location-dot"></i> Gustav Mahlerlaan 10 1082 PP
          Amsterdam
        </p>
        <p><i class="fa-solid fa-phone"></i> 020-3699220</p>
        <p><i class="fa-solid fa-envelope-open"></i> info@jobbs.nl</p>
        <p><i class="fa-solid fa-registered"></i> : 6856465324</p>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© Design & Development: Niloyan Sellathurai  </p>
  </div>
</footer>
