<header>
  <div class="header--top">
    <div class="header--top-container">
      <div class="header--top-items">
        <i class="fa-solid fa-phone"></i> 020-3699220
      </div>
      <div class="header--top-items">
        <i class="fa-solid fa-envelope-open-text"></i> info@jobbs.nl
      </div>
      <div class="header--top-items">
        <i class="fa-solid fa-magnifying-glass-location"></i>
        Gustav Mahlerlaan 10 , 1082 PP Amsterdam
      </div>
      <div class="header--top-items">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
  </div>
  <div class="header--main">
    <div class="header--main-logo">
      <a href="homepage"
        ><img src="/images/logo.png" alt="logo" class="header--main-logo-img"
      /></a>
    </div>
    <div class="header--main-menu">
      <ul class="header--main-menu-ul-item">
        <li class="header--main-menu-li-item">
          <a href="homepage" class="header--main-menu-items">Home</a>
        </li>
        <li class="header--main-menu-li-item">
          <a href="jobfilter" class="header--main-menu-items">Vacatures</a>
        </li>
      </ul>
    </div>
    <div class="header--main-menu-li-ctn">
      <a href="login" class="header--main-ctn">Login</a>
    </div>
  </div>
</header>
