<section class="hero--section">
  <div class="hero--section-container">
    <div class="hero--section-content">
      <h1 class="hero--section-heading-primary">
        Registreer nu en <br />vind jouw droombaan
      </h1>
      <div class="hero--section-ctn-register">
        <a href="register" class="hero--section-register-btn">Registreer</a>
      </div>
    </div>

    <div class="hero--section-imagearea">
      <img
        src="/images/header-hero-img.png"
        alt="hero-section-img"
        class="hero--section-img"
      />
    </div>
  </div>
</section>
