<section>
  <div class="location-container">
    <h1 class="location-heading">Bezoek onze Loket</h1>
    <div class="location-map">
      <div class="google-maps">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2437.846046313437!2d4.8656190156689725!3d52.336938979779944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c60ba7571d256d%3A0xbedd9d8ec005893b!2sThe%20Office%20Operators%20Amsterdam%20Zuidas%20NoMA%20House!5e0!3m2!1snl!2snl!4v1657115775919!5m2!1snl!2snl"
          width="800"
          height="320"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
      <div class="google-maps-mobile">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2437.846046313437!2d4.8656190156689725!3d52.336938979779944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c60ba7571d256d%3A0xbedd9d8ec005893b!2sThe%20Office%20Operators%20Amsterdam%20Zuidas%20NoMA%20House!5e0!3m2!1snl!2snl!4v1657115775919!5m2!1snl!2snl"
          width="400"
          height="320"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
