<section>
  <div class="search--container">
    <div class="search--heading">
      <h1 class="search--heading-primary">Vind jouw baan!</h1>
    </div>
    <div class="search--inputfield">
      <input
        type="text"
        class="search--input-job"
        placeholder="Functie of trefwoord"
      />

      <input
        type="text"
        class="search--input-location"
        placeholder="Plaats : Bijv Amsterdam"
      />
      <button type="submit" class="search--submit-btn">
        Search
        <i class="fa-solid fa-circle-arrow-right"></i>
      </button>
    </div>
  </div>
</section>
