.job--card {
  padding: 1rem;
  height: 20rem;
  width: 20rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.671),
      0 10px 10px rgba(0, 0, 0, 0.671);
  }
  &-container {
    height: 13rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
  }
  &-items-1 {
    display: flex;
    justify-content: space-between;
  }

  &-salary {
    font-weight: bold;
  }

  &-employment {
    border-radius: 1rem;
    padding: 0.3rem 0.5rem;
    border: 1px solid black;
  }

  &-items-3 {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
  }

  &-skills {
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
    border: 1px solid black;
  }

  &-description {
    font-size: 0.8rem;
  }

  &-title {
    text-align: center;
    margin-top: 3rem;
  }

  &-ctn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    border: 2px solid #16163f;
    background-color: #ffd203;
    cursor: pointer;
  }

  &-ctn a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
  }
}
