.location-container {
  height: 85vh;
  text-align: center;
  padding: 2rem;
  width: 100%;
}

.location-map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}

.google-maps {
  width: 50rem;
  height: 20rem;
}

.google-maps-mobile {
  display: none;
}
