@import "header";
@import "hero";
@import "search";
@import "location";
@import "footer";
@import "login";
@import "register";
@import "filterjob";
@import "jobgallery";
@import "jobcard";
@import "applyjob";
@import "changedetails";
@import "applysucces";
@import "mediaqueries/mob_header";
@import "mediaqueries/mob_hero";
@import "mediaqueries/mob_search";
@import "mediaqueries/mob_location";
@import "mediaqueries/mob_footer";
@import "mediaqueries/mob_register";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  background-color: #f5f5f5;
}
